  /* Breadcrumb styling */

  
  /* Breadcrumb separator styling */
  .arnabwp-breadcrumb-separator {
    margin: 0 8px;
    color: var(--primary-color);
  }

  .arnabwp-breadcrumb a {
    text-decoration: none;
}
  
 /* ==================================
     Breadcrumb Text Alignment
     ================================== */
  
  /* Breadcrumb text alignment options */
  .breadcrumb-align-left {
    text-align: left;
  }
  
.breadcrumb-align-center {
    text-align: center;
  }
  
  .breadcrumb-align-right {
    text-align: right;
  }