/* Tab Navigation Container */
.arnabwp-tab-nav {
    display: flex;
  align-items: center;
  margin-top: 10px 0;
}

.arnabwp-tab-nav.responsive {
    flex-direction: column;
  }

/* Individual Tab Item */
.arnabwp-tab-nav li {
    flex: 1; /* Makes each tab take equal width */
    text-align: center;
    padding: 12px 0;
    cursor: pointer;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    background: #ececec;
    font-weight: 600;
    transition: all 0.3s ease;
    color: #333;
    text-transform: uppercase;
    font-size: 12px;
    position: relative;
}

.arnabwp-tab-nav li:last-child {
    margin-right: 0;
}

/* Hover Effect on Tabs */
.arnabwp-tab-nav li:hover {
    background: #ececec; /* Slightly darker background on hover */
    transform: scale(1.05); /* Slight scale-up effect for interaction */
}

/* Active Tab Styling */
.arnabwp-tab-nav li.active {
    background: #ffffff; /* White background for the active tab */
    border-radius: 0 0 10px 10px;
    border-bottom: 3px solid #db007c; /* Blue border for the active tab */
    color: #db007c; /* Blue text for active tab */
   
    font-weight: 500; /* Make the active tab bold */
}

/* Tab Content Style */
.arnabwp-tab-content {
    padding: 20px 0;
    display: none; /* Hide inactive content */
}

/* Show active tab content */
.arnabwp-tab-content.active-tab {
    display: block;
    opacity: 0;
    transition: opacity 0.3s ease-in-out; /* Smooth fade-in effect for tab content */
}

/* Smooth fade-in for active content */
.arnabwp-tab-content.active-tab {
    opacity: 1;
}

